body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#profile-options {
    display: none;
    z-index: 100;
    background-color: rgb(238, 238, 238);
    position: absolute;
    border: solid;
    border-color: rgb(128, 128, 128);
    border-width: thin;
}

.profile-link {
    /*display:table-cell;*/
    white-space: nowrap;
}

.profile-links {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    /*display:table-row;*/
}

#profile-link {
    cursor: pointer;
}